* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #CEE9EF;
    font-family: 'Artifika', serif;
}

.header {
    grid-template-columns: 1fr;
    display: grid;
    background: linear-gradient(180deg, rgba(66, 209, 218, 0.78) 25%, rgba(5, 5, 5, 0.71) 100%);
    font-family: 'Audiowide', cursive;
}

header nav {
    grid-row: 1;
    align-self: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul > li {
    margin: 5px;
    border-left: 2px solid black;
    padding: 5px;
}

header .title {
    font-size: 150%;
    font-weight: bold;
    padding: 1em;
    grid-row: 1;
}

header .mini_title {
    font-size: 16px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
}

a:active {
    color: black
}

a {
    text-decoration: none;
}

.welcome {
    position: absolute;
    width: 789px;
    height: 29px;
    left: 25px;
    top: 130px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.usage {
    position: absolute;
    width: 510px;
    height: 139px;
    left: 25px;
    top: 207px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Artifika', serif;
}

.lblInputMsg {
    position: absolute;
    width: 232px;
    height: 36px;
    left: 25px;
    top: 374px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.lblOutputMsg {
    position: absolute;
    width: 212px;
    height: 36px;
    left: 796px;
    top: 374px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

}

main div form .inputForm {
    position: absolute;
    width: 614px;
    height: 348px;
    left: 25px;
    top: 423px;
    background: #FFFFFF;
    border: 1px solid #110F0F;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 20px;
}

.btnTranslate {
    width: 101px;
    height: 27px;
    position: absolute;
    left: 666px;
    top: 570px;
    background: rgba(66, 209, 218, 0.6);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.form_result {
    position: absolute;
    width: 614px;
    height: 348px;
    left: 802px;
    top: 423px;
    background: #FFFFFF;
    border: 1px solid #110F0F;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 20px;

}

.result{
    white-space: pre-wrap;
}

.tables{
    display: flex;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    border-bottom: 1px solid black;
    border-right: 1px solid gray;
}

td {
    border-bottom: 1px solid black;
    border-right: 1px solid gray;
}

.note {
    position: absolute;
    width: 310px;
    height: 95px;
    left: 37px;
    top: 830px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

footer {
    margin-top: 40rem;
    margin-bottom: 5px;
    text-align: center;
}

@media screen and (max-width: 1406px) {
    .welcome {
        font-size: 36px;
    }

    .usage {
        font-size: 24px;
        line-height: 33px;
    }

    .lblInputMsg {
        top: 513px;
        font-size: 30px;
        width: 252px;
    }

    main div form .inputForm {
        width: 717px;
        top: 589px;
        font-size: 26px;
    }

    .btnTranslate {
        width: 183px;
        height: 55px;
        left: 270px;
        top: 974px;
        font-size: x-large;
    }

    .lblOutputMsg {
        width: 274px;
        height: 36px;
        left: 25px;
        top: 1092px;
        font-size: 30px;

    }

    .form_result {
        width: 717px;
        left: 25px;
        top: 1138px;
    }

    .note {
        top: 1532px;
        font-size: 20px;
    }

    footer {
        margin-top: 1616px;
    }
}