<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Artifika&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Morse Translator</title>
</head>

<body>
<header class="header">
    <div class="title">
        <a href="/">Morse Translator</a>
        <span class="mini_title">/ {% block mini_title %}{% endblock %} </span>
    </div>
    <nav>
        <ul class="links">
            <li><a href="morse_table.html">Morse Table</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content%}

    {% endblock %}
</main>
<footer>
    &copy All rights reserved
</footer>
</body>

</html>